<launch>
	<arg name="grasp_library_file" value="$(find grasp_template_planning)/data/grasp_library.bag" /> 
	<arg name="grasp_demonstrations_path" value="$(find grasp_template_planning)/data/grasp_demonstrations_data/" /> 
	<arg name="grasp_demonstration_file" default="analyze.all." />
	<arg name="robot" default="armrobot"/>
	
	<node pkg="grasp_template_planning" type="generate_grasp_library" name="generate_grasp_library" 
			args="$(arg grasp_demonstrations_path) $(arg grasp_library_file) $(arg grasp_demonstration_file)" output="screen">
		<rosparam file="$(find grasp_template_planning)/config/template_config_$(arg robot).yaml" command="load"/>
	</node>
</launch>