<launch>
	<arg name="robot" default="pr2"/>
	
	<node pkg="grasp_template_planning" type="main_data_grasp_supervised_grasp_analysis" name="main_grasp_data_supervised_grasp_analysis" output="screen">
		<param name="dir_path_base" type="str" value="$(find grasp_template_planning)"/>
		<param name="database_name" type="str" value=""/>
		<rosparam file="$(find grasp_template_planning)/config/template_config_$(arg robot).yaml" command="load"/>
	</node>
</launch>
