<launch>
	<arg name="grasp_demonstrations_path" value="$(find grasp_template_planning)/data/grasp_demonstrations_data/" /> 
	<arg name="robot" default="armrobot"/>
	
	<node pkg="grasp_template_planning" type="user_demonstration_recorder" name="user_demonstration_recorder" args="$(arg grasp_demonstrations_path)$(arg filename)" output="screen">
		<rosparam file="$(find grasp_template_planning)/config/template_config_$(arg robot).yaml" command="load"/>
	</node>
</launch>