<launch> 

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <include file="$(find dmp_behaviors)/launch/arm_dmp_behavior.launch" />

  <include file="$(find arm_task_recorder2)/launch/arm_task_recorder_manager_node.launch" />

  <node pkg="dynamic_movement_primitive_gui" name="DynamicMovementPrimitiveGui" type="dynamic_movement_primitive_gui_node" output="screen" launch-prefix="$(arg launch_prefix)">				
    <rosparam command="load" file="$(find dynamic_movement_primitive_gui)/config/arm_dynamic_movement_primitive_gui.yaml" />
    <rosparam command="load" file="$(find dynamic_movement_primitive_gui)/config/arm_task_recorder_db.yaml" />
    <rosparam command="load" file="$(find dynamic_movement_primitive_gui)/config/arm_joint_states_recorder.yaml" />
    <rosparam command="load" file="$(find skill_library)/config/arm_skill_library.yaml" />
  </node>

</launch>