include
shogun/.git
shogun/.gitmodules
shogun/.gitignore
shogun/src/shogun/lib/config.h
shogun/src/configure.log
shogun/src/examples
shogun/examples/missing.log
shogun/src/interfaces/cmdline_static/Makefile
shogun/src/interfaces/python_static/Makefile
shogun/src/interfaces/matlab_static/Makefile
shogun/src/interfaces/octave_static/Makefile
shogun/src/shogun/base/class_list.cpp
shogun/src/shogun/Makefile
shogun/src/interfaces/cmdline_static/shogun

shogun/applications
shogun/examples/undocumented
shogun/testsuite

shogun/bin
shogun_installed

.config
*.depend
*.cpp.o
*.so*
*.a
sg.mexa64

