<launch> 

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <arg name="valgrind" default="false"/>
  <arg if="$(arg valgrind)" name="valgrind_launch_prefix" value="valgrind --leak-check=full"/>
  <arg unless="$(arg valgrind)" name="valgrind_launch_prefix" value=""/>

  <group ns="TaskRecorderManager">
    <rosparam command="load" file="$(find pr2_task_recorder2)/config/pr2_task_recorder_manager.yaml" />
  </group>

  <node pkg="task_label_gui" name="LabelGui" type="label_gui_node" output="screen" launch-prefix="$(arg launch_prefix) $(arg valgrind_launch_prefix)">				
    <rosparam command="load" file="$(find task_recorder2)/config/task_labeler.yaml" />
    <rosparam command="load" file="$(find task_event_detector)/config/svm_classifier.yaml" />
    <rosparam command="load" file="$(find task_event_detector)/config/svm_classifier_db.yaml" />
    <rosparam command="load" file="$(find task_event_detector)/config/pr2_task_event_detector.yaml" />
    <rosparam command="load" file="$(find pr2_task_recorder2)/config/pr2_task_recorder_db.yaml" />
    <param name="manager_node_name" value="/PR2TaskRecorderManager"/>
  </node>
  
</launch>