<launch>

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <node pkg="task_recorder2" name="TestTaskRecorder" type="test_task_recorder_node" output="screen" launch-prefix="$(arg launch_prefix) />				
</launch>