<launch>

  <include file="$(find robot_info)/launch/load_pr2_parameters.launch" />
	
  <node pkg="dmp_behaviors" type="test_dmp" name="TestDMP" output="screen">
    <rosparam command="load" file="$(find dmp_behaviors)/config/pr2_test_dmp.yaml" />
    <rosparam command="load" file="$(find dynamic_movement_primitive)/config/pr2_dmp_params.yaml" />
  </node>

</launch>
