<launch>

  <!--  <include file="$(find skill_library)/launch/skill_library.launch" /> -->

  <include file="$(find robot_info)/launch/load_pr2_parameters.launch" />

  <node pkg="behaviors" launch-prefix="valgrind --leak-check=yes" type="learning_from_demonstration" name="LearningFromDemonstration" output="screen">
    <rosparam command="load" file="$(find behaviors)/config/learning_from_demonstration.yaml" />
    <rosparam command="load" file="$(find dynamic_movement_primitive)/config/pr2_dmp_params.yaml" />
  </node>
</launch>
