<launch>
  
  <!-- Startup PR2 without any mechanism controllers -->
  <include file="$(find pr2_dynamic_movement_primitive_controller)/launch/pr2_slim_no_controllers.launch" />

  <!-- Load and Start Default Controllers -->
  <include file="$(find pr2_dynamic_movement_primitive_controller)/launch/pr2_default_controllers.launch" />

  <!-- Load and Start DMP Controllers -->
  <include file="$(find pr2_dynamic_movement_primitive_controller)/launch/dmp_ik_controller_loader.launch" />

</launch>

